<h1>Works: index</h1>

<p>Here are all the works: </p>

<ul>
	<% @works.each do |w| %>
	<li>Date Performed: <%= link_to w.datetimeperformed, w %></li>
	<li>Project: <%= w.project.name %></li>
	<li>User: <%= w.user.fname %> <%= w.user.lname %></li>
	<li>Hours: <%= w.hours %></li>
	<br/>
	<hr >
	<br/>
	<% end %>
</ul>